[services]

monitor_url = http://10.11.4.117:5675
controller_url = http://10.11.4.49:5112
authorization_url = http://0.0.0.0:5001/authorization
optimizer_url = http://0.0.0.0:5001/optimizer
plugins = os_generic,sahara

[os_generic]
public_key = bigsea
key_path = /home/igornsa/bigsea/bigsea
log_path = /ubuntu/tpm/app-01.log
user = username
password = password
auth_ip = https://cloud.lsd.ufcg.edu.br
project_id = 0022cedasdaj3n4407beea319878e9590h
user_domain_name = LSD

[spark-sahara]
user = username
password = password
auth_ip = https://cloud.lsd.ufcg.edu.br
project_id = 0022cedasdaj3n4407beea319878e9590h
user_domain_name = LSD
swift_container =


[chronos]

url = http://152.48.109.15:4004
username = user
password = secret
supervisor_ip = http://152.48.115.19:20010

[infra]
hosts = 
