Flask!=0.11,<1.0,>=0.10 # BSD
redis
ConfigParser
kubernetes
pytz
pytest
pyOpenSSL==0.13
cryptography==1.9
python-swiftclient
python-monascaclient
python-saharaclient
keystoneauth1
python-novaclient
paramiko
