cmd2==0.8.4
cryptography==2.2.2
ConfigParser
Flask!=0.11,<1.0,>=0.10 # BSD
httplib2
keystoneauth1
kubernetes
PrettyTable
paramiko
python-keystoneclient
python-novaclient
python-saharaclient
python-swiftclient
python-monascaclient
pytz
pytest
pyOpenSSL
redis
six
stevedore
werkzeug
virtualenv