virtualenv
six
werkzeug
ConfigParser
Flask
stevedore
httplib2
PrettyTable
paramiko
python-keystoneclient
python-novaclient
python-saharaclient
python-swiftclient
python-monascaclient
keystoneauth1
pytz
pytest
